table {
    font-family: 'Open Sans', sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 12%;
    margin-bottom: 15px;
}

td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
background-color: #dddddd;
}

.llojet{
    color: black;
    text-align: center;
    margin: 12px;
    font-family: 'Open Sans', sans-serif;
}